@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

.pageContainer{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: #9d6de6;
    
    
    .filterContainer{
        display: flex;
        flex-direction: column;
        min-width: 300px;
        background-color: #9146ff;
        justify-items: center;

         > * {
            margin: 15px;
        }


    
        .button {
            margin: 15px;
        }
    }





.galleryContainer{ 
margin: auto;

.iframe {
    height: 720px;
    width: 1280px;

}
}




}